@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
/* for css */
.hero {
  position: relative;
  z-index: 10;
  margin-top: 120px;
  padding-left: 60px;
  color: white;
}

.hero-title {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  max-width: 800px;
  margin-top: 200px;
}

.get-btn {
  margin-top: 60px;
  position: relative;
  overflow: hidden;

  padding: 14px 28px;
  font-size: 18px;
  font-weight: 600;
  color: black;
  background: rgba(255, 255, 255, 0.997);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  gap: 10px;

  transition: padding-right 0.35s ease, background 0.3s ease;
}


.arrow {
  display: inline-block;
  transition: transform 0.35s ease;
}


.get-btn:hover {
  padding-right: 44px;     
 
}

.get-btn:hover .arrow {
  transform: translateX(10px);  
}
